<div class="container-fluid">
  <h1>Bootstrap Enrollment Form</h1>
  <form #userForms="ngForm">

    {{ userForms.value | json }}
    <hr />
    {{userModel | json}}
    <div class="form-group">
      <label>Name</label>
      <input type="text" #name class="form-control" name="name" [(ngModel)]="userModel.name">
      {{name.className}}
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="mail" class="form-control" name="email" [(ngModel)]="userModel.email">
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input type="tel" class="form-control" name="phone" [(ngModel)]="userModel.phone">
    </div>

    <div class="form-group">
      <select class="custom-select" name="topic" [(ngModel)]="userModel.topics">
        <option selected>I am interested in</option>
        <option *ngFor="let topic of topics">{{ topic }}</option>
        </select>
    </div>

    <div class="mb-3">
      <label>Time Preference </label>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference">
        <label class="form-check-label" for="timePreference">Morning (9AM - 12PM)</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
        <label class="form-check-label" for="timePreference">Evening (5PM - 8PM)</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" name="Subscribe" [ngModel]="userModel.subscriber">
      <label class="form-check-label">Send me promotinal offers</label>
    </div>
    <div ngModelGroup="address">
      <div class="form-group">  
        <label>Street</label>
        <input type="text" class="form-control" name="street" ngModel>
      </div>
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" name="city" ngModel>
      </div>
      <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" name="state" ngModel>
      </div>
      <div class="form-group">
        <label>Postak Code</label>
        <input type="text" class="form-control" name="postalCode" ngModel>
      </div>
    </div>"

    <button class="btn btn-primary">Submit Form</button>


  </form>


</div>   